@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(246, 249, 237);
    background-image: url(/src/images/silver-313347.jpg);
    background-size: cover;
    background-position: center;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

ul,
li,
p,
h1,
h2,
a,
h3{
  margin: o;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  list-style: none;
}

.container{
  margin: 0 auto;
  padding: 15px 15px;
}

.section {
  padding: 60px 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}


//   .example {
//     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
//       Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//     line-height: 1.5;
//     background-color: #fff;
//     color: #2f2f37;
//     max-width: 960px;
//     padding: 16px;
//   }
  
//   .example code {
//     font-family: monospace;
//     font-size: 16px;
//     font-weight: 700;
//     background-color: #ff6b0a;
//     color: #fff;
//     padding: 2px 6px;
//     border-radius: 2px;
//   }
  
//   .example .background {
//     height: 240px;
//     // ❗️❗️❗️ The path to images from a SASS file
//     // is always the same as from the css folder.
//     background-image: url('../images/logo.png');
//     background-size: cover;
//     background-position: center;
//   }
  
