<section class="about">
    <h2>Клининговая компания "Cleaning Service"</h2>
    <!-- <img class="image-inscription__img" 
                          srcset="./images/img2.jpg 1x"
                          src="./images/img2.jpg" 
                          alt="О нас"
                          /> -->
    <p> Мы предлагаем профессиональные услуги по уборке помещений всех назначений и различного уровня загрязнения. Услуги от компании "Cleaning Service" - это широкий спектр клининговых услуг в Москве и Московской области. Профессиональная уборка жилых, офисных и производственных помещений с применением специализированного современного оборудования, инвентаря и чистящих средств ведущих производителей в сочетании с высокой квалификацией специалистов, позволяет держать компании высокий уровень предоставляемых услуг в индустрии клининга,  динамично развиваться.    
    </p>
    <p>Компания "Cleaning Service" предлагает  своим клиентам расширенный перечень  услуг — регулярную и генеральную уборку жилых домов и квартир, уборку после ремонта или строительства, профессиональную регулярную уборку офисных и производственных помещений, мытье фасадов, окон  и рекламных витрин, комплексное обслуживание.
    </p> 
    <p>Существует сразу несколько причин, позволяющих  с уверенностью утверждать, что именно наша компания имеет возможность предоставить вам услуги самого высокого качества. Обратившись к нам вы забудете о вопросах, связанных с уборкой помещения,  поиском  работников и контролем за выполнением их работы, приобретением моющих средств и постоянным пополнением их запаса, изучением возможностей того или иного специализированного оборудования или приспособлений.
      
      "Cleaning Service" занимается профессиональной уборкой  более 8 лет, и за этот достаточно долгий период успела получить неоценимый опыт в работе с самыми различными типами помещения и в устранении всех разновидностей загрязнений, занять конкурентно способные позиции в сфере клининговых услуг.
      </p>
    
    <h2>Наша команда</h2>
    <!-- <img class="image-inscription__img" 
    srcset="./images/img2.jpg 1x"
    src="./images/img2.jpg" 
    alt="Наша команда"
    /> -->
<p>Безусловно, одним из важнейших аспектов деятельности "Cleaning Service" является привлечение профессиональных сотрудников, имеющих высокий уровень подготовки и квалификации. Правильно выбранная кадровая политика позволила создать и приумножить коллектив специалистов, большинство из которых трудятся в нашей компании годами и смогли проявить себя, как настоящие профессионалы. Отличительной особенностью «Чистюли» является тот факт, что в компании работают сотрудники исключительно славянской внешности, трудоустроенные официально.
</p>
<p> Все сотрудники компании "Cleaning Service" имеют высокий уровень подготовки, подкрепленный многолетним опытом предоставления разнообразных клининговых услуг. В своей работе мы используем только сертифицированные моющие и чистящие средства и специальное профессиональное уборочное оборудование. Каждый специалист компании регулярно проходит курсы повышения квалификации в сфере оказания клининговых услуг. Знания, профессиональный подход к уборке различных типов загрязнений , железная дисциплина, ответственность, внимательность к мелочам - залог отменного качества услуг предоставляемых компанией "Cleaning Service"!</p>
</section>