<section class="about container" id="about">
<div class="about_container">

  <img class="image-inscription__img" 
  src="./images/broom-310435.png"
  alt="О нас"
  />
  <div class="about_span">
    <h2 class="about_title">Клининговая компания "CleanCraft"</h2>
        <p class="about_list"> Мы предлагаем профессиональные услуги по уборке помещений всех назначений и различного уровня загрязнения. Услуги от компании "CleanCraft" - это широкий спектр клининговых услуг в Одессе. Профессиональная уборка жилых, офисных и производственных помещений с применением специализированного современного оборудования, инвентаря и чистящих средств ведущих производителей в сочетании с высокой квалификацией специалистов, позволяет держать компании высокий уровень предоставляемых услуг в индустрии клининга,  динамично развиваться.    
        </p>
        <p class="about_list">Существует сразу несколько причин, позволяющих  с уверенностью утверждать, что именно наша компания имеет возможность предоставить вам услуги самого высокого качества. Обратившись к нам вы забудете о вопросах, связанных с уборкой помещения,  поиском  работников и контролем за выполнением их работы, приобретением моющих средств и постоянным пополнением их запаса, изучением возможностей того или иного специализированного оборудования или приспособлений.
          
          "CleanCraft" занимается профессиональной уборкой  более 8 лет, и за этот достаточно долгий период успела получить неоценимый опыт в работе с самыми различными типами помещения и в устранении всех разновидностей загрязнений, занять конкурентно способные позиции в сфере клининговых услуг.
          </p>
      </div>
    </div>

    <div class="about_container">
     <div class="about_span">
      <h2 class="about_title">Наша команда</h2>
      <p class="about_list">Безусловно, одним из важнейших аспектов деятельности "CleanCraft" является привлечение профессиональных сотрудников, имеющих высокий уровень подготовки и квалификации. Правильно выбранная кадровая политика позволила создать и приумножить коллектив специалистов, большинство из которых трудятся в нашей компании годами и смогли проявить себя, как настоящие профессионалы. Отличительной особенностью "CleanCraft" является тот факт, что в компании работают сотрудники исключительно славянской внешности, трудоустроенные официально.
      </p>
      <p class="about_list"> Все сотрудники компании "CleanCraft" имеют высокий уровень подготовки, подкрепленный многолетним опытом предоставления разнообразных клининговых услуг. В своей работе мы используем только сертифицированные моющие и чистящие средства и специальное профессиональное уборочное оборудование. Каждый специалист компании регулярно проходит курсы повышения квалификации в сфере оказания клининговых услуг. Знания, профессиональный подход к уборке различных типов загрязнений , железная дисциплина, ответственность, внимательность к мелочам - залог отменного качества услуг предоставляемых компанией "CleanCraft"!</p>
  
     </div>
     <img class="image-inscription__img" 
     src="./images/janitor-7396138_960_720.png"
     alt="О нас"
     />
    </div>

</section>