<section class="calculate">
    <p class="calculate-title">Рассчитайте стоимость уборки квартиры прямо сейчас!</p>
    <select name="service" required="required">
      <option value="">Какой вид уборки Вас интересует</option>
      <option value="1">Поддерживающая уборка</option>
      <option value="2">Уборка после ремонта</option>
      <option value="3">Мытье окон</option>
      <option value="4">Генеральная уборка</option>
    </select>
  
    <p>Укажите количество комнат</p>
    <div>
      <button class="btn-calculate" type="button">-</button> 
      <span>1</span>
      <button class="btn-calculate" type="button">+</button> 
    </div>
    <p>Укажите количество санузлов</p>
    <div>
      <button class="btn-calculate" type="button">-</button> 
      <span>1</span>
      <button class="btn-calculate" type="button">+</button> 
    </div>
  
    <span>Сумма:</span>
  
  </section>