<div class="page-hader">
    <div class="conteiner page-hader__conteiner">
            <nav class="main-nav">
                <a href="./index.html" class="logo">
                <span class="logo__part">Cleaning</span><span class="logo__dark">Service</span>
                </a>
                <ul class="main-nav__item">
                    <li class="main-nav__list"><a href="" class="main-nav__link current">О компании</a></li>
                    <li class="main-nav__list"><a href="" class="main-nav__link">Цены</a></li>
                    <li class="main-nav__list"><a href="" class="main-nav__link">Калькулятор</a></li>
                </ul>
            </nav>
            <ul class="contacts-box">
                    <li class="contacts-box__list">
                        <a href="mailto:info@clining.com" class="contacts-box__link">info@clining.com</a>
                    </li>
                    <li class="contacts-box__list">
                        <a href="tel:+38091111111" class="contacts-box__link">+38 091 111 11 11</a>
                    </li>
            </ul>
    </div> 
</div>