<div class="page-hader container">

            <nav class="main-nav">
                <a href="./index.html" class="logo">
                <span class="logo__part">Clean</span><span class="logo__dark">Craft</span>
            </a>
                <ul class="main-nav__item">
                    <li class="main-nav__list"><a href="#about" class="main-nav__link">О компании</a></li>
                    <li class="main-nav__list"><a href="#price" class="main-nav__link">Цены</a></li>
                    <li class="main-nav__list"><a href="#calculate" class="main-nav__link">Калькулятор</a></li>
                </ul>
            </nav>
            <ul class="contacts-box">
                    <li class="contacts-box__list">
                        <a href="mailto:info@clining.com" class="contacts-box__link">info@cleancraft.com</a>
                    </li>
                    <li class="contacts-box__list">
                        <a href="tel:+38091111111" class="contacts-box__link">+38 091 111 11 11</a>
                    </li>
            </ul>
    
</div>