<div class="price" id="price">
  <div class="price_title_container">
      <h2 class="price-title">Цены</h2>
      <p class="price_description_atention">(Минимальная цена указана за 1 комнату+1 санузел)</p>
    </div>

    <div class="price_description_container">
      <p class="price_description">Поддерживающая уборка <span class="price_description_item"> .................. от 1000 грн</span></p>
      <p class="price_description">Уборка после ремонта <span class="price_description_item"> ...................... от 2000 грн</span></p>
      <p class="price_description">Мытье окон <span class="price_description_item"> ............................................. от 1000 грн</span></p>
      <p class="price_description">Генеральная уборка <span class="price_description_item"> ............................. от 1600 грн</span></p>
    </div>

  </div>